#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
  parameters:
    mongo:
      dbhost: troup.mongohq.com:10003 
      dbname: sunspots
      user: jay
      password: 881117
    facebook:
      appId: '90105269891' 
      secret: 'd60d6c07c5cf5f44187846a49a864308'
  php:
    date.timezone: Europe/Prague
    # zlib.output_compression: yes

  nette:
    application:
      errorPresenter: Error

    session:
      expiration: 14 days

  services:
    routerFactory: RouterFactory
    router: @routerFactory::createRouter
    mongo: MongoClient('mongodb://%mongo.user%:%mongo.password%@%mongo.dbhost%/%mongo.dbname%')
    userModel: UserModel
    facebook: Facebook( {appId: %facebook.appId%, secret: %facebook.secret%} )
    facebookAuthenticator: FacebookAuthenticator
    
  factories:


production < common:

development < common: