{block content}

<h1 n:block="title">Zprávy:</h1>

 <ul>
{foreach $result as $obj}
<li>{$obj[timestamp]} {$obj[email]} {$obj[subject]} {$obj[message]} {$obj[register]}</li>
{/foreach}
</ul>

<a n:href="Admin:" title="Administrace">Zpět</a>
{/block}
