{block title}Administrace{/block}

{block content}

<h2>Vyber akci</h2>  


<ul>
<li><a n:href="Admin:Upload" title="Upload">Nahrání snímku</a></li>
<li><a n:href="Admin:Image" title="Image">Vybrat oblasti se skvrnami</a></li>
<li><a n:href="Admin:Contact" title="Contact">Zobrazit zprávy</a></li>
{if !empty($session->user['admin']) && $session->user['admin'] == 2}
<li><a n:href="Admin:User" title="User">Upravit role uživatelů</a></li>
{/if}
</ul>
{/block}